@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

// global variables
$primary-color: #1f2937;



body {

}

.btn{
  padding: 15px 20px 15px 20px;
  border-radius: 50px;
  background-color: rgb(0, 115, 255);
  color: white;
  border: 2px solid white;
  max-width: 300px;
}
.btn:hover{
  background-color: #8eccfb;
}

.center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
