@import "./globals.scss";

.videoplayer{
    width: 80%;

    h1{
        text-align: center;
        color: $text-color;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
    }

    video{
        border-radius: 25px;
    }

    .buttons{
        margin-top: 20px;
    }

    img{
        max-width: 90vw;
        max-height: 80vh;
        margin: auto;
    }

}